{% extends "base.html" %}

{% block head %}
<title>ADMIN - Device Inventory</title>
<link rel="stylesheet" href="{{ url_for('DeviceInvy.static', filename='css/device.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script defer src="{{ url_for('DeviceInvy.static', filename='js/device.js') }}"></script>
{% endblock %}

{% block h1 %}
Device Inventory
{% endblock %}

{% block block_container %}
<section class="dashboard">
  <div>
    <button id="manualEntryBtn" class="btn success mb-4">
      Add New Device
    </button>
    <button id="uploadBtn" class="btn">Upload</button>

    <button id="downloadExcel" class="btn">Download Table</button>

    <div id="manualEntryForm" class="hidden">
      
      <form id="manualForm" action="{{ url_for('DeviceInvy.manual_entry')}}" method="post">
        <div class="form-container">
        <div class="form-group">
          <label for="IMEI">IMEI</label>
          <input type="text" name="IMEI" id="IMEI" required />
          <div id="imeiError" class="error hidden">
            IMEI must be 15 digits long.
          </div>
        </div>
        <div class="form-group">
          <label for="GLNumber">GL Number</label>
          <input type="text" name="GLNumber" id="GLNumber" />
        </div>
        <div class="form-group">
          <label for="DeviceModel">Device Model</label>
          <input type="text" name="DeviceModel" id="DeviceModel" required />
        </div>
        <div class="form-group">
          <label for="DeviceMake">Device Make</label>
          <input type="text" name="DeviceMake" id="DeviceMake" required />
        </div>
        <div class="form-group">
          <label for="DateIn">Date In</label>
          <input type="date" name="DateIn" id="DateIn" required max="" />
        </div>
        <div class="form-group">
          <label for="Warranty">Warranty</label>
          <input type="date" name="Warranty" id="Warranty" required readonly />
        </div>
        <div class="form-group">
          <label for="SentBy">Sent By</label>
          <input type="text" name="SentBy" id="SentBy" required />
        </div>
        <div class="form-group">
          <label for="OutwardTo">Outward To</label>
          <input type="text" name="OutwardTo" id="OutwardTo" />
        </div>
        <div class="form-group">
          <label for="Package">Package</label>
          <select name="Package" id="Package" required>
            <option value="">Select Package</option>
            <option value="Rental">Rental</option>
            <option value="Package">Package</option>
            <option value="Outrate">Outrate</option>
          </select>
        </div>
        <div class="form-group" id="TenureContainer" class="hidden">
          <label for="Tenure">Tenure</label>
          <input type="text" name="Tenure" id="Tenure" />
        </div>
        <div class="form-group">
          <label for="Status">Status</label>
          <select name="Status" required>
            <option value="">Select Status</option>
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>
        </div>
        <button type="submit" id="submitBtn" class="btn success">Submit</button>
        <button type="button" id="cancelBtn" class="btn danger">
          Cancel
        </button>
      </div>
      </form>
    </div>
    <div id="uploadBox" class="hidden">

      <form id="uploadForm" action="{{ url_for('DeviceInvy.upload_file')}}" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xls,.xlsx" required />
        <button type="submit" class="btn">Upload Excel</button>
        <a href="{{ url_for('DeviceInvy.download_template')}}" class="btn">Download Template</a>
        <div class="preloader"></div>
      </form>
      <button type="button" id="cancelUploadBtn" class="btn danger">
        Cancel
      </button>
    </div>
    <div id="errorBox" class="error-box hidden"></div>

    {% with messages = get_flashed_messages(with_categories=true) %} {%
    if messages %} {% for category, message in messages %}
    <div class="flash-box flash-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}


    <table>
      <thead>
        <tr>
          <th>IMEI</th>
          <th>GL Number</th>
          <th>Device Model</th>
          <th>Device Make</th>
          <th>Date In</th>
          <th>Warranty</th>
          <th>Sent By</th>
          <th>Outward To</th>
          <th>Package</th>
          <th>Tenure</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="deviceTable">
        {% for device in devices %}
        <tr data-id="{{ device._id }}">
          <td>{{ device.IMEI }}</td>
          <!--                   <td>{{ device.GLNumber }}</td> -->
          <td>{{ device.GLNumber if device.GLNumber else '' }}</td>
          <td>{{ device['DeviceModel'] }}</td>
          <td>{{ device['DeviceMake'] }}</td>
          <td>{{ device['DateIn'] }}</td>
          <td>{{ device.Warranty }}</td>
          <td>{{ device['SentBy'] }}</td>
          <td>{{ device['OutwardTo'] }}</td>
          <td>{{ device.Package }}</td>
          <td>{{ device.Tenure if device.Package == 'Package' else '' }}</td>
          <td>
            {% if device.Status == 'Active' %}
            <button class="status-btn status-active" disabled>
              {{ device.Status }}
            </button>
            {% elif device.Status == 'Inactive' %}
            <button class="status-btn status-inactive" disabled>
              {{ device.Status }}
            </button>
            {% else %}

            {% endif %}
          </td>
          <td>
            <button class="icon-btn edit-icon" onclick="editDevice('{{ device._id }}')">✏️</button>
            <button class="icon-btn delete-icon" onclick="deleteDevice('{{ device._id }}')">🗑️</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>

</section>
{% endblock %}