{% extends "base.html" %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{{ url_for('RouteHistory.static', filename='css/style.css') }}">
<script defer src="{{ url_for('RouteHistory.static', filename='js/script.js') }}"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEFA1-1dlca1C2BbUNKpQEf-icQAJAfX0&libraries=drawing&callback=initMap" async defer></script> -->

<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }
</style>
{% endblock %}

{% block h1 %}
Vehicle Data
{% endblock %}

{% block block_container %}
<h1>Vehicle Data</h1>
<table>
  <thead>
    <tr>
      {% for key in all_data[0].keys() %}
      <th>{{ key }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for item in all_data %}
    <tr>
      {% for key, value in item.items() %}
      <td>{{ value }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}