* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body.dark-mode {
  background-color: #2f2f2f;
  color: #ccc;
}

body {
  display: flex;
}

.sidebar {
  position: fixed;
  left: 1%;
  top: 427px;
  height: 88%;
  transform: translateY(-50%);
  width: 60px;
  background: black;
  color: #ccc;
  backdrop-filter: blur(10px);
  padding: 1% 0.5%;
  border-radius: 15px;
  transition: width 0.3s ease-in-out;
  z-index: 1;
}

.sidebar::after {
  content: "";
  height: 5px;
  display: block;
}

.sidebar:hover {
  width: 200px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.logo img {
  width: 40px;
  height: 40px;
}

.logo h2 {
  font-size: 20px;
  color: #007bff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sidebar:hover .logo h2 {
  opacity: 1;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: 0.3s;
}

.menu-item i {
  min-width: 40px;
  text-align: center;
  font-size: 18px;
}

.menu-item:hover {
  background-color: black;
  border-radius: 5px;
}

.sidebar-text {
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.sidebar:hover .sidebar-text {
  display: inline;
}

.dropdown {
  cursor: pointer;
}

.submenu {
  list-style: none;
  padding-left: 20px;
  display: none;
  transition: 0.3s ease-in-out;
}

.submenu li {
  padding: 8px 0;
}

.submenu a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.submenu li:hover {
  background-color: black;
  border-radius: 5px;
  padding-left: 10%;
}

.arrow {
  margin-left: auto;
  transition: 0.3s;
  display: none;
}

.sidebar:hover .arrow {
  display: inline;
}

.dropdown:hover .submenu {
  display: block;
}

.dropdown:hover .arrow {
  transform: rotate(180deg);
}

.rotate {
  transform: rotate(180deg);
}

.topbar {
  position: fixed;
  top: 2%;
  left: 1%;
  width: 98%; /* Adjusted to leave space for the sidebar */
  background: black;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 15px;
  color: #ccc;
  margin-bottom: 50px;
  z-index: 100; /* Ensure the topbar is above the map */
  transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.sidebar:hover ~ .topbar {
  left: 14.5%; /* Adjusted to leave space for the expanded sidebar */
  width: 84%; /* Adjusted to leave space for the expanded sidebar */
}

.topbar h1 {
  font-size: 20px;
  color: white;
}

.topbar-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification {
  position: relative;
  cursor: pointer;
}

.notification i {
  font-size: 20px;
  color: #007bff;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: red;
  color: #ccc;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
}

.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-hover {
  display: none;
  position: absolute;
  top: 117%;
  right: 0;
  background-color: white;
  z-index: 1000;
  padding: 10px;
  border-radius: 10px;
  color: #2f2f2f;
}

.dark-mode .profile-hover {
  background-color: black;
  color: #ccc;
}

.profile-hover .btn-logout {
  background-color: #dc3545;
  margin-top: 20px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.content {
  margin-left: 60px;
  margin-top: 70px;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
  z-index: 1; /* Ensure the content is above the map */
}

.sidebar:hover ~ .content {
  margin-left: 250px;
}

.theme-toggle {
  width: 30px;
  height: 30px;
  background-color: #ffd700; /* Sun color for light mode */
  border-radius: 10px; /* Squarcle shape */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-toggle.dark {
  background-color: #ccc; /* Background color for dark mode */
}

.theme-toggle i {
  color: #fff;
  font-size: 20px;
}

.block-container {
  position: fixed;
  top: 11%;
  left: 5.5%; /* Adjust based on your top bar height */
  bottom: 1%;
  right: 1%; /* Adjust based on your sidebar width */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: left 0.3s ease-in-out;
  z-index: 2;
  border-radius: 20px;
  padding: 1%;
}

.dark-mode .block-container {
  background-color: black;
}

.sidebar:hover ~ .block-container {
  left: 14.5%;
}
